:root
{
  --primary-color: #F87171;
  --hazel-blue: #5BC3EB;
}

body
{
    
    margin: 0px;
}
/* font-family: 'Montserrat', sans-serif; */

.navigation 
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.navigation .nav-brand
{
    /* font-weight: bold; */
    font-size: 1.5rem;
    text-align: center;
    /* padding: 1rem; */
    
}

.navigation .nav-pills
{
    text-align: center;
}

.navigation .link
{
    color:white;
}
 
.navigation .link-active
 {
    font-weight: bold;
}

.link
{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    font-size: 1.5rem;
    
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}

.h1
{
    text-align: center;
    color: aliceblue;
}

input[type="number"]{
    width: 20%;
    padding: 0.3rem 1rem;
    outline: none;
    font-size: 1.2rem;
    border: 1px solid #000000;
    border-radius: 25px;
    margin: 1rem 38rem;
  }

#is-triangle-btn
{
    margin: 1rem 44rem;
    margin-bottom: 1rem;
    font-size: 1rem; 
}


#output
{
    text-align: center;  
    font-size: 1.2rem; 
    color: black;
    background-color: white;
    width: 20%;
    margin: 1rem 39rem;

}

.section
{
    background-image: url(images/triangle.jpg);
}

#hypotenuse-btn
{
    /* margin: 1rem 42rem; */
    margin-bottom: 1rem;
    margin-left: 43rem;
    margin-top: 1rem;
    font-size: 1rem; 
}

#output2
{
    text-align: center;  
    font-size: 1.2rem; 
    color: black;
    background-color: white;
    width: 20%;
    margin: 1rem 39rem;

}

.section1
{
    background-image: url(images/triangle2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h2
{
    text-align: center;
    color: black;
}

#output1
{
    text-align: center;  
    font-size: 1.5rem; 
    color: black;
}

.quizclass
{
    background-image: url(images/quiztri.jpg);
    background-size: cover;
}

.hquiz
{
    text-align: center;
}

.quiz-form
{
    text-align: center;
    font-size: large;
    
}

#submit-answer-btn
{
    margin: 1rem 44rem;
}

.question-container
{
    padding: 1rem;
}

.area
{
    background-image: url(images/area.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.areah
{
    text-align: center;
    color: white;
}

#area-btn
{
    margin: 1rem 43rem;
    font-size: large;
}

#outputarea
{
  background-color: white;
  color: black;
  font-size: large;
  text-align: center;
  width: 20%;
  margin: 1rem 39rem;
}

.footer
{
   
   background-color: var(--primary-color);
   padding: 0.5rem 0rem;
   text-align: center;
   color: white;
   margin-top: 8rem;
}

.footer .link
{
    color: white;
}
.footer .footer-header
{
    font-weight:bold ;
    font-size: large;
}

.footerquiz
{
   
   background-color: var(--primary-color);
   padding: 0.5rem 0rem;
   text-align: center;
   color: white;
}

.footerquiz .link
{
    color: white;
}
.footerquiz .footer-header
{
    font-weight:bold ;
    font-size: large;
}

.footerhypo
{
   
   background-color: var(--primary-color);
   padding: 0.5rem 0rem;
   text-align: center;
   color: white;
   margin-top: 12rem;
}

.footerhypo .link
{
    color: white;
}
.footerhypo .footer-header
{
    font-weight:bold ;
    font-size: large;
}

.footerarea
{
   
   background-color: var(--primary-color);
   padding: 0.5rem 0rem;
   text-align: center;
   color: white;
   margin-top: 12rem;
}

.footerarea .link
{
    color: white;
}
.footerarea .footer-header
{
    font-weight:bold ;
    font-size: large;
}
